<div class="form-group">
	<label>{{localize 'DRAGON_FLAGON.Thumbnail_Label'}}</label>
	<div class="form-fields">
		<button id="df-thumb-btn" type="button" class="file-picker" data-type="image" data-target="df-thumb-img" title="{{localize 'DRAGON_FLAGON.Thumbnail_Button'}}" tabindex="-1">
			<i class="fas fa-file-import fa-fw"></i>
		</button>
		<input id="df-thumb-img" class="image" type="text" name="df-thumb-img" placeholder="{{localize 'DRAGON_FLAGON.Thumbnail_Hint'}}" value="{{thumbPath}}">
	</div>
</div>