<div class="form-group" id="df-thumb-group">
	<label>{{localize 'DF-SCENE-ENHANCE.Thumbnail.Label'}}</label>
	<div class="form-fields">
		<file-picker name="thumbnail" type="imagevideo">
			<input class="image" type="text" placeholder="{{localize 'DF-SCENE-ENHANCE.Thumbnail.Hint'}}">
			<button class="file-picker fa-solid fa-file-import fa-fw" type="button" data-tooltip="{{localize 'DF-SCENE-ENHANCE.Thumbnail.Button'}}" aria-label="{{localize 'DF-SCENE-ENHANCE.Thumbnail.Button'}}" tabindex="-1"></button>
		</file-picker>
	</div>
	<p class="notes">An optional custom thumbnail override image.</p>
</div>