#df-chat-log .message {
	border: 2px solid #6f6c66;
	border-radius: 5px;
	margin: 3px;
}

#df-chat-log {
	margin-block-start: 0;
	padding-inline-start: 0;
	overflow-y: scroll;
}

.df-chat-log-window .window-content {
	background: none;
}

.df-chat-log-window h2 {
	flex-grow: 0;
	color: white;
	margin: 0 0 0.25rem
}

/* .archive-new {
} */

.archive-new table {
	border: none;
	background: none;
}

.archive-new table tr {
	background: none;
}

.archive-new table tr:nth-child(even) {
	background: none;
}

.archive-new table tr td:first-child {
	text-align: right;
	padding-right: 1em;
}

#df-chat-log.df-chat-print {
	background-color: white;
	height: auto;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 15px;
	z-index: 10000000;
	/* font-size: 14px;
	line-height: 18px; */
}
body.df-chat-print {
	width: unset;
	height: unset;
	margin: unset;
	overflow: unset;
	background: unset;
	box-shadow: unset;
}