
.archive-new table {
	border: none;
	background: none;
}

.archive-new table tr {
	background: none;
}

.archive-new table tr:nth-child(even) {
	background: none;
}

.archive-new table tr td:first-child {
	text-align: right;
	padding-right: 1em;
}
