$colour-public: #26C281;
$colour-gm: #F2CA27;
$colour-blind: #E87E04;
$colour-self: #E74C3C;

button {
	&.dfce-roll-btn[data-roll-mode="publicroll"] {
		&[aria-pressed="false"]:hover { color: $colour-public; }
		&[aria-pressed="true"] { background-color: $colour-public; }
	}

	&.dfce-roll-btn[data-roll-mode="gmroll"] {
		&[aria-pressed="false"]:hover { color: $colour-gm; }
		&[aria-pressed="true"] { background-color: $colour-gm; }
	}

	&.dfce-roll-btn[data-roll-mode="blindroll"] {
		&[aria-pressed="false"]:hover { color: $colour-blind; }
		&[aria-pressed="true"] { background-color: $colour-blind; }
	}

	&.dfce-roll-btn[data-roll-mode="selfroll"] {
		&[aria-pressed="false"]:hover { color: $colour-self; }
		&[aria-pressed="true"] { background-color: $colour-self; }
	}

	&.dfce-roll-btn[aria-pressed="true"] { color: var(--control-hover-bg-color); }
}