.df-flag-edit {
	min-width: 400px;
	min-height: 300px;
	
	footer {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5rem;

		button {
			flex: 1;
			--button-size: calc(1.25 * var(--input-height));
		}
	}

	main {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		height: stretch;

		>section>ul {
			margin: 0;
		}

		>search {
			margin-bottom: 0.5rem;

			>input {
				font-family: "Courier New", monospace;
				padding-right: 25px;
			}

			>i {
				position: absolute;
				right: 1.5rem;
				padding-top: 0.5rem;
				color: orangered;

				:hover {
					text-shadow: 0px 0px 8px red;
				}
			}
		}

		>cite {
			margin-bottom: 0.75rem;
			margin-top: 0.5rem;
		}
		
		>code {
			flex: 1;
			display: block;
			padding: 0;
			table {
				margin: unset;
				background: unset;
				overflow: unset;
				width: unset;
			}
			div.jsoneditor-frame {
				>* {
					display: unset;
				}
				>input {
					background: unset;
				}
			}
			input[type="checkbox"] {
				background: unset;
			}
			ul, li {
				margin: unset;
			}
			button {
				display: unset;
			}
		}
	}
}