.df-arch-flag-edit {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto 1fr auto auto;
	margin-bottom: 10px;
}

.df-arch-flag-edit>button {
	height: fit-content;
}

.df-arch-flag-edit>.col1 {
	grid-column: 1;
}

.df-arch-flag-edit>.col2 {
	grid-column: 2;
}

.df-arch-flag-edit>.col3 {
	grid-column: 3;
}

.df-arch-flag-edit>.row1 {
	grid-row: 1;
}

.df-arch-flag-edit>.row2 {
	grid-row: 2;
}

.df-arch-flag-edit>.row3 {
	grid-row: 3;
}

.df-arch-flag-edit>.row4 {
	grid-row: 4;
}

.df-arch-flag-edit>.row5 {
	grid-row: 5;
}

.df-arch-flag-edit>.colend3 {
	grid-column-end: 4;
}

.df-arch-flag-edit table {
	width: 100%;
	border-collapse: unset;
	background: none;
	border-top: none;
	border-bottom: none;
	margin: 0;
}

.df-arch-flag-edit>div.col1.colend3.row2 {
	margin-bottom: 1em;
}

.df-arch-flag-edit .error {
	position: absolute;
	right: 15px;
	padding-top: 6px;
	color: orangered;
}

.df-arch-flag-edit .error:hover {
	text-shadow: 0px 0px 8px red;
}

.df-arch-flag-edit #object-path {
	font-family: "Courier New", monospace;
	padding-right: 25px;
}