.message-headers {
	display: flex;
	flex-flow: row nowrap;
}

.message-headers>h4 {
	flex: 1;
	text-align: center;
}

.message-headers>h4:first-child {
	flex: auto;
	flex-grow: 0;
}

.message-headers>h4:last-child {
	flex: auto;
	flex-grow: 0;
}

.message-entry {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.message-entry>input[type="text"] {
	flex: 1;
}

.message-entry>button {
	width: fit-content;
	padding: 0px 2px 0px 4px;
	font-size: 10pt;
	line-height: 22px;
	margin-left: 0.5em;
}

.tab-container {
	display: flex;
	flex-flow: column nowrap;
	max-height: 100vh;
	overflow: clip;
}

.tab-container>main {
	overflow-y: scroll;
}

.tab-container>footer>button {
	margin-bottom: 0.25em;
}
.tab-container>footer>button[name="add"] {
	margin-bottom: 0.5em;
}

.tab-container>footer>button[name="reset"] {
	margin-bottom: 1.5em;
	background-color: #c25454;
	color: white;
}