<nav class="sheet-tabs tabs">
	<a data-action="tab" data-group="menu" data-tab="login" class="active">
		<i class="fas fa-sign-in-alt" inert></i>
		<span>{{localize 'DF-LOGGER.ManageMenu.TabLogin'}}</span>
	</a>
	<a data-action="tab" data-group="menu" data-tab="logout">
		<i class="fas fa-sign-out-alt" inert></i>
		<span>{{localize 'DF-LOGGER.ManageMenu.TabLogout'}}</span>
	</a>
</section>


