<footer class="form-footer">
	<button type="button" name="add"><i class="fas fa-plus" inert></i><span>{{localize 'DF-LOGGER.ManageMenu.Buttons.Add'}}</span></button>
	<button type="button" name="reset"><i class="fas fa-times" inert></i><span>{{localize 'DF-LOGGER.ManageMenu.Buttons.Reset'}}</span></button>
	<button type="submit" name="save"><i class="far fa-save" inert></i><span>{{localize 'DF-LOGGER.ManageMenu.Buttons.Save'}}</span></button>
</footer>