<form style="display:grid;align-items:center;grid-template-columns:1fr auto;grid-template-rows:auto 1fr auto">
	<input id="dfce-ca-folder-path" type="text" value="{{path}}" style="grid-column:1">
	<label for="dfce-ca-folder-path">
		<button><i class="fas fa-file-import fa-fw"></i></button>
	</label>
	<button style="grid-row:3;grid-column-end:3;grid-column-start:1"><i class="far fa-save"></i> {{localize 'Save Changes'}}</button>
</form>