<section id="dfcp-rt-buttons">
	{{#each buttons}}
	<button data-id="{{rt}}" class="button{{#if isGM}} gm{{/if}}{{#if active}} active{{/if}}" title="{{localize name}}"><i class="{{icon}}"></i></button>
	{{/each}}
</section>