#player-list {
	span.player-roll-type {
		flex: 0;
		width: 28px;
		height: 20px;
	}
	.fa-input-numeric {
		width: 28px;
		height: 20px;
		background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMTkyIDM1MkMxMzguMSAzNTIgOTYgMzA5IDk2IDI1NkM5NiAyMDIuMSAxMzguMSAxNjAgMTkyIDE2MEMyNDUgMTYwIDI4OCAyMDIuMSAyODggMjU2QzI4OCAzMDkgMjQ1IDM1MiAxOTIgMzUyek0zODQgNDQ4SDE5MkM4NS45NiA0NDggMCAzNjIgMCAyNTZDMCAxNDkuMSA4NS45NiA2NCAxOTIgNjRIMzg0QzQ5MCA2NCA1NzYgMTQ5LjEgNTc2IDI1NkM1NzYgMzYyIDQ5MCA0NDggMzg0IDQ0OHpNMzg0IDEyOEgxOTJDMTIxLjMgMTI4IDY0IDE4NS4zIDY0IDI1NkM2NCAzMjYuNyAxMjEuMyAzODQgMTkyIDM4NEgzODRDNDU0LjcgMzg0IDUxMiAzMjYuNyA1MTIgMjU2QzUxMiAxODUuMyA0NTQuNyAxMjggMzg0IDEyOHoiLz48L3N2Zz4') no-repeat;
		background-image: tint;
	}
}
