<footer>
    <button type="button" data-action="cancel"><i class="fas fa-ban" inert></i>{{localize 'DF_FLAG_EDIT.Cancel'}}</button>
    <button type="button" data-action="save"><i class="fa-solid fa-floppy-disk" inert></i>{{localize 'DF_FLAG_EDIT.Save'}}</button>
    <button type="button" data-action="apply"><i class="fa-solid fa-arrow-rotate-right" inert></i>{{localize 'DF_FLAG_EDIT.Apply'}}</button>
</footer>
