<main>
	<section> {{{localize 'DF_FLAG_EDIT.EditButtonPromptDesc'}}} </section>
	<search>
		<input type="text" spellcheck="false" value="{{path}}" placeholder="{{localize 'DF_FLAG_EDIT.EditButtonPromptPlaceholder'}}">
		<i class="hidden error fas fa-exclamation-triangle" data-tooltip></i>
	</search>
	<code></code>
	<cite>{{{localize 'DF_FLAG_EDIT.PoweredBy'}}}</cite>
</main>