<div class="tab" data-tab="dflr-region">
	<p class="notes">{{ localize "Lighting and Walls Region" }}</p>
	<div class="form-group">
		<label>{{localize 'Is Lighting Region?'}}</label>
		<input type="checkbox" name="dflr-enabled" {{#if enabled}}checked{{/if}} />
	</div>
</div>