.dfte-template-config table th {
  white-space: nowrap;
  padding: 0 0.5em;
}
.dfte-template-config table td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
}
.dfte-template-config table td:last-child {
  padding-left: 0.5em;
}
.dfte-template-config main section,
.dfte-template-config footer section {
  display: flex;
  flex: row nowrap;
}
