#df-curvy-walls-tools {
	display: flex;
	flex-flow: row nowrap;
	vertical-align: top;
	left: 101px;
	position: absolute;
	top: 73px;
}

#df-curvy-walls-tools ol {
	margin: 0 10px 0 0;
	list-style: none;
	padding: 0;
}

#moduleControls #df-curvy-walls-tools ol {
	margin: 0;
}

#df-curvy-walls-tools .control-tool {
	width: 36px;
	height: 36px;
	box-sizing: content-box;
	font-size: 24px;
	line-height: 36px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px #000;
	margin: 0 0 8px;
	color: #BBB;
	text-align: center;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	padding: 0;
}

#df-curvy-walls-tools .control-tool:hover {
	color: #FFF;
	border: 1px solid red;
	border-bottom: 1px solid #ff6400;
	box-shadow: 0 0 10px #ff6400;
}

#df-curvy-walls-tools .control-tool.toggle {
	background: rgba(30, 0, 60, 0.5);
	border: 1px solid #3b1893;
}

#df-curvy-walls-tools .control-tool.toggle:hover {
	background: rgba(60, 0, 120, 0.5);
	box-shadow: 0 0 10px #9b8dff;
}

#df-curvy-walls-tools .control-tool.toggle.active {
	background: rgba(60, 0, 120, 0.8);
	box-shadow: 0 0 10px #9b8dff;
}

#df-curvy-walls-tools .cancel {
	background: rgba(128, 0, 0, 0.5);
	box-shadow: 0 0 10px #a00;
	border: 1px solid #a00;
	margin-bottom: 8px;
}

#df-curvy-walls-tools .apply {
	background: rgba(0, 128, 0, 0.5);
	box-shadow: 0 0 10px #0a0;
	border: 1px solid #0a0;
}