#df-curvy-walls-tools {
	position: absolute;
	width: auto;
	text-align: center;
}

#df-curvy-walls-tools .control-tools {
	list-style: none;
	padding: 0;
	margin: 0;
}

#df-curvy-walls-tools .control-tool {
	width: 36px;
	height: 36px;
	box-sizing: content-box;
	font-size: 24px;
	line-height: 36px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px #000;
	margin: 0 0 8px;
	color: #BBB;
	text-align: center;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	padding: 0;
}
#df-curvy-walls-tools .control-tool i {
	margin: auto;
}

#df-curvy-walls-tools .control-tool:hover {
	color: #FFF;
	border: 1px solid red;
	border-bottom: 1px solid #ff6400;
	box-shadow: 0 0 10px #ff6400;
}

#df-curvy-walls-tools .cancel {
	background: rgba(128, 0, 0, 0.5);
	box-shadow: 0 0 10px #a00;
	border: 1px solid #a00;
	margin-bottom: 8px;
}
#df-curvy-walls-tools .apply {
	background: rgba(0, 128, 0, 0.5);
	box-shadow: 0 0 10px #0a0;
	border: 1px solid #0a0;
}