
<article class="dfal-help">
<h1>How to use the /log command</h1>

{{#if isGM}}
<section style="background-color:rgba(255,128,0,0.2);padding:0.5em;margin-right:0.5em">
	<h3><b>GM Only Info</b></h3>
	<h2>Adventure Log Setup</h2>
	<p>As a shortcut, you can use the following command to open the Adventure Log Config.</p>
	<code>/log config</code>
	<h2>GM Only Adventure Log</h2>
	<p>You can replace <code>/log</code> with <code>/gmlog</code> for all of the below commands to add those events/quotes to the configured GM Only Adventure Log. If chat messages are turned on, GM Log entries will <b>always</b> be posted as <b>whispers</b> to yourself.</p>
	<code>
		/gmlog message...<br>
		/gmlog e message...<br>
		/gmlog event message...<br>
		/gmlog q "Bobby McFerrin" message...<br>
		/gmlog quote "Bobby McFerrin" message...
	</code>
</section>
{{/if}}

<h2>General Event (default)</h2>

<p>Logs a simple event message to the adventure log.</p>

<table>
<tr><td>Command</td><td><code>/log ...message<br />/log e ...message<br />/log event ...message</code></td></tr>
<tr><td>Output To Chat</td><td><code>Event Logged<br />message...</code></td></tr>
<tr><td>Output to Log </td><td><code>[<span class="dfal-ts">&lt;YYYY-MM-DD HH:mmPM&gt;</span>] (<span class="dfal-na">&lt;LoggerName&gt;</span>) <span class="dfal-ev">message...</span></code></td></tr>
<tr><td>Example</td><td><code>Susan: /log We killed a goblin!</code><br/><code>[<span class="dfal-ts">2021-02-12 4:35PM</span>] (<span class="dfal-na">Susan</span>) <span class="dfal-ev">We killed a goblin!</span></code></td></tr>
</table>

<h2>Quote Something</h2>

<p>Formats an event entry as a quote of the given "Source". Source can be any text, such as the name of a player or NPC. Or maybe something funny someone said!</p>

<table>
<tr><td>Command</td><td><code>/log q "Source" ...quote<br />/log quote "Source" ...quote</code></td></tr>
<tr><td>Output To Chat</td><td><code>&lt;LoggerName&gt; quoted &lt;Source&gt;<br />...quote</code></td></tr>
<tr><td>Output to Log</td><td><code>[<span class="dfal-ts">&lt;YYYY-MM-DD HH:mmPM&gt;</span>] (<span class="dfal-na">&lt;LoggerName&gt;</span>) &lt;Source&gt; said: <span class="dfal-qu">"quote..."</span></code></td></tr>
</table>

<p>You do not need to add quotes around the Source Name, unless there are spaces in the name. Such as the following:</p>
<code>/log q Bobby McFerrin Don't worry, be happy!</code>
<p>Will output into the log</p>
<code>[<span class="dfal-ts">2021-02-12 4:35PM</span>] (<span class="dfal-na">Susan</span>) Bobby said: <span class="dfal-qu">"McFerrin Don't worry, be happy!"</span></code>

<p>Instead if you add quotes around the name, it will allow the spaces.</p>
<code>/log q "Bobby McFerrin" Don't worry, be happy!</code>
<p>Will output into the log</p>
<code>[<span class="dfal-ts">2021-02-12 4:35PM</span>] (<span class="dfal-na">Susan</span>) Bobby McFerrin said: <span class="dfal-qu">"Don't worry, be happy!"</span></code>

</article>